<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css">

    <title>Home</title>
</head>
<body>
    <h3>Главная страница</h3>
    <ul>
        <li><a href="/log">Вход</a></li>
        <li><a href="/">Главная</a></li>
        <li><a href="/doc">Документация</a></li>
        <li><a href="/math">Математика</a></li>
    </ul>
</body>
</html>