* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.box__top__user {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flx-bx {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
}
.top__users {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top__users img {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 200px;
}
.all_users {
  margin-top: 60px;
}
.all_users input {
  width: 300px;
  height: 30px;
  font-size: 20px;
}
.all__users__list {
  display: flex;
}
.user__div {
  padding: 20px;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person h1 {
  font-size: 40px;
}
.person img {
  width: 250px;
  height: 250px;
  border-radius: 250px;
}
.person .text {
  font-size: 20px;
}
